@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

.main_container {
    height: 30%;
    width: 30%;
    border: green 0.2em solid;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.draftkings_container>input {
    width: 22%;
    height: 22%;
}

.fanduel_container>input {
    width: 22%;
    height: 22%;
}

.nba_container>input {
    width: 22%;
    height: 22%;
}

.draftkings_container {
    text-align: right;
    width: 80%;
    height: 80%;
}

.fanduel_container {
    text-align: right;
    width: 80%;
    height: 80%;
}

.nba_container {
    text-align: right;
    width: 80%;
    height: 80%;
}

.page {
    /* margin-left: 2em; */
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    min-width: 800px;
}

.mode_div {
    height: 60%;
    width: 60%;
    border: black 0.2em solid;
    align-self: center;
}

.trade_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style the list items */

.trade_list li {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 0.7em;
    color: black;
    display: block;
    position: relative;
}

/* Add a light grey background color on hover */

.trade_list li:hover {
    background-color: #eee;
}

/* Style the close button (span) */

.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}

.close:hover {
    background: #bbb;
}

.teamLogo {
    height: 4em;
    width: 5em;
}

.list_of_players {
    height: 15em;
    width: 15em;
    overflow: scroll;
    padding-left: 1.5em;
}

.result_div {
    text-align: center
}

.player_name {
    font-weight: bold
}

.approval {
    color: green;
    text-align: center
}

.declined {
    color: red;
    text-align: center
}

.board_button {
    width: 85%;
    width: 85%;
}

.player_chart {
    /* overflow: auto; */
    text-align: center;
    /* background-color: blue */
}

.home_title {
    font-family: 'Fugaz One', cursive;
    font-size: 3em;
    margin-bottom: 1em;
    color: #C58A56;
    text-align: center;
}