
.player_button{
    height:7em ;
    width: 13em;
}
.buttonphoto{
    border-radius: 50%;
    height: 35%;
    width: 33%;
    float: left
}

.buttonphoto2{
    border-radius: 50%;
    height: 25%;
    width: 25%;
    float: left
}
.modal_text{
    color: blue;
    /* text-align: center; */
}
.modal_photo{
    height: 55%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.maincolorATL{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(37,40,42);
    background-color: rgb(224,58,62);
    color: rgb(255,255,255);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.maincolorBOS{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(37,40,42);
    background: linear-gradient(to bottom right,rgb(0,130,72)
    , rgb(255,255,255));
    color: rgb(0,0,0);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.maincolorBKN{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(37,40,42);
    background: linear-gradient(to bottom right,rgb(0,0,0)
    , rgb(255,255,255));
    color: rgb(0,0,0);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.maincolorCHA{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(136,139,141);
    background: linear-gradient(to bottom right,rgb(0,120,140)
    , rgb(29,17,96));
    color: rgb(255, 255, 255);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.maincolorCHI{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(0,0,0);
    background: linear-gradient(to bottom right,rgb(206,17,65)
    , rgb(0,0,0));
    color: rgb(0,0,0)    ;
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.maincolorCLE{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(0,0,0);
    background: linear-gradient(to bottom right,rgb(111,38,51)
    , rgb(255,184,28));
    color: rgb(0,0,0)    ;
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.maincolorDET{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(0,0,0);
    background: linear-gradient(to bottom right,rgb(12,76,147)
    , rgb(12,76,147));
    color: rgb(255,255,255);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.maincolorIND{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(190,192,194);
    background: linear-gradient(to bottom right,rgb(253,187,48)
    , rgb(0,45,98));
    color: rgb(255,255,255);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.maincolorMIA{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(0,0,0);
    background: linear-gradient(to bottom right,rgb(152,0,46)
    , rgb(152,0,46));
    color: rgb(255,255,255);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.maincolorMIL{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(0,0,0);
    background: linear-gradient(to bottom left,rgb(0,71,27)
    , rgb(238,225,198));
    color: rgb(255,255,255);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.maincolorNYK{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(0,0,0);
    background: linear-gradient(to  right,rgb(0,107,182)
    , rgb(245,132,38));
    color: rgb(255,255,255);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.maincolorORL{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(0,0,0);
    background: rgb(11,119,189);
    color: rgb(194,204,210);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.maincolorPHI{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(0,0,0);
    background: rgb(0,107,182);
    color: rgb(255,255,255);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.maincolorTOR{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(0,0,0);
    background: rgb(205,17,65);
    color: rgb(255,255,255);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.maincolorWAS{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(0,0,0);
    background: linear-gradient(to  right,rgb(227,24,55)
    , rgb(0,43,92));
    color: rgb(194,204,210);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}



