
.home_news_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.home_news_item{
    width: 50%;
    border: 1px black inset;
    padding:2em;
    margin-bottom: 3em;
}

.home_article_image{
    height: 35%;
    width: 35%;
    text-align: center;
}

.home_news_headline{
    text-align: center;
    text-decoration: none;
}
.home_news_headline a{
    text-decoration: none;
    color :black;
}
.home_article_author{
    /* padding: 2em; */
    /* margin: 0.2em; */
    font-size: .8em;
}


.ScrollUpButton__Container{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 5px solid black;
    height: 50px;
    position: fixed;
    bottom: 20px;
    width: 50px;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    -webkit-transition-property: opacity, right;
    transition-property: opacity, right;
    cursor: pointer;
    opacity: 0;
    right: -75px;
}

.ScrollUpButton__Toggled{
    opacity: 1;
    right: 20px;
}

.navbar{
    text-align: center
}