
.maincolor{
    border: black solid 0.3em;
    background-color: white;
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 80em;
}


.maincolorDAL{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(0,0,0);
    background: linear-gradient(to bottom right,rgb(0,125,197)
    , rgb(196,206,212));
    color: rgb(255,255,255)    ;
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.maincolorDEN{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(0,0,0);
    background: linear-gradient(to bottom right,rgb(80,145,205)
    , rgb(0,40,94) );
    color: rgb(253,185,39);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.maincolorGSW{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(0,0,0);
    background: linear-gradient(to bottom right,rgb(255,205,52)
    , rgb(255,205,52));
    color: rgb(36,62,144);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.maincolorHOU{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(0,0,0);
    background: linear-gradient(to bottom right,rgb(0,0,0)
    , rgb(216, 22, 22));
    color: rgb(255, 255, 255);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}



.maincolorLAC{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(190,192,194);
    background: linear-gradient(to bottom right,rgb(237,23,76)
    , rgb(237,23,76));
    color: rgb(255,255,255);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.maincolorLAL{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(85,37,131);
    background: linear-gradient(to bottom right,rgb(85,37,131)
    , rgb(253,185,39));
    color: rgb(255,255,255);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.maincolorMIN{
    /* bordr: purple solid 0.3em; */
    border: solid 0.3em rgb(0,0,0);
    background: linear-gradient(to bottom right,rgb(0,43,92)
    , rgb(0,80,131));
    color: rgb(198,207,212);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.maincolorMEM{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(85,37,131);
    background: linear-gradient(to bottom right,rgb(0,40,94)
    , rgb(97,137,185));
    color: rgb(255,255,255);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.maincolorNOP{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(180,151,90);
    background: linear-gradient(to bottom right,rgb(0,22,65)
    , rgb(225,58,62) );
    color: rgb(255,255,255);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.maincolorOKC{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(180,151,90);
    background: linear-gradient(to bottom right,rgb(0,122,193)
    , rgb(0,45,98));
    color: rgb(255,255,255);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.maincolorPHX{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(180,151,90);
    background: linear-gradient(to bottom right,rgb(229,96,32)
    , rgb(29,17,96));
    color: rgb(249,160,27);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.maincolorPOR{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(196,206,212);
    background: linear-gradient(to bottom right,rgb(225,58,62)
    , rgb(0,0,0));
    color: rgb(196,206,212);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.maincolorPHX{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(180,151,90);
    background: linear-gradient(to bottom right,rgb(229,96,32)
    , rgb(29,17,96));
    color: rgb(249,160,27);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.maincolorSAC{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(99,114,122);
    background:rgb(90,45,129);
    color: rgb(255,255,255);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.maincolorSAS{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(0,0,0);
    background: linear-gradient(to bottom right,rgb(196,206,212)
    , rgb(196,206,212));
    color: rgb(255,255,255);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.maincolorUTA{
    /* border: purple solid 0.3em; */
    border: solid 0.3em rgb(0,0,0);
    background: linear-gradient(to bottom right,rgb(12,35,64)
    , rgb(0,71,27));
    color: rgb(249,160,27);
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}



