.freeagent_player{
    /* padding-left: 3em; */
    /* border-radius: 15%;  */
    text-align: center;
}


.photo_contract_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.player_page_photo{
    width:35%;
    height:35%;
}

.player_page_name{
    text-align: center;
}

.free_back_button{
    display:block;
  height:35px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid red;
}