
.home_title{
    color: blue;
}

.team_page_select {
    display: flex;
    justify-content: center;
}

.team_record_div {
    /* border: black 1px outset; */
    height: 55%;
    width: 13%;
    position: fixed;
    left:2em;
    bottom:2em;
    text-align: center;
}

.side_nav_pic{
    width:15%;
    padding-top: 1em;
    padding-left: 1em;
    position: fixed;
    /* float: left;  */
}

